    h1 {
        color: blue;
        font-size: 50px;
    }
    h2{
        color: green;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
    }
    p {
        color: red;
        font-size: 20px;
    }
    button {
        background-color: blue;
        color: white;
        font-size: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }